
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TheMaster</title>
    <script src="~/Scripts/RectangleArea.js"></script>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/RectangleAreajQuery.js"></script>    
    <script src="~/Scripts/displayBikes.js"></script>
    @RenderSection("RectangleArea",false)
</head>
<body>
    <div>
        @RenderBody()        
    </div>
</body>
</html>
